body{
    background :#111 !important;
    height: 100vh;
}

.element-wrapper span{
   position: fixed;
   bottom: -180px;
   height: 50px;
   width: 50px;
   z-index: -1;
   background-color: #18191f;
   box-shadow: 0 0 50px #0072ff,
               0 0 100px #0072ff,
               0 0 150px #0072ff,
               0 0 200px #0072ff; 
   animation: animate 10s linear infinite;
}

.element-wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}
.element-wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.element-wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.element-wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}
.element-wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.element-wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.element-wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}
.element-wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.element-wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}
.element-wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}

.element-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    background-color: #0b366c!important;
    color: white !important;
}

.btn:active {
    transform: scale(0.96);
  }
  .btn:before,
  .btn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .btn.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, white 20%, transparent 30%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 15%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .btn.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 15%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
@keyframes animate{
    0%{
        transform: translateY(0);
        opacity:1;   
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}